biopython==1.84
biotite==0.38.0
datatable @ git+https://github.com/h2oai/datatable
easydict==1.9
lightning==2.3.3
lightning-utilities==0.11.2
llvmlite==0.42.0
lmdb==1.4.1
markdown-it-py==3.0.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
opt-einsum==3.3.0
pandas==2.2.1
pickleshare==0.7.5
pillow==10.2.0
progressbar2==4.4.2
python-utils==3.8.2
pytorch-lightning==1.8.6
regex==2023.12.25
scikit-learn==1.3.0
scipy==1.11.4
seaborn==0.13.2
tables==3.9.2
tensorboardX==2.6.2.2
texttable==1.6.7
tokenizers==0.15.2
torch==2.3.1
torch_geometric==2.4.0
torchaudio==2.3.1
torchmetrics==1.3.2
torchvision==0.18.1
transformers==4.39.2
wandb==0.16.6